top_layout_1{
    height: 100px;
    background-color: bisque;

    border-color: blue;
    /*      border-width: 5px; */
    border-style: solid;

    /*  padding-top: 1em; */
}

.top_layout_2{
    height: 30px;
    width: 50px;
    margin: 4px auto;
    background-color: blue;
}

.top_layout_3{
    height: 30px;
    width: 270px;
    background-color: red;
    margin-left: 5px;
    border-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 5px;
    margin-right: 5px;
}